/**
*!Changing default settings on brwoser
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f2e8cf;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1b4332;
    color: white;
    padding: 25px 60px;                         
    margin-bottom: 30px;
}
.brand {
    font-size: 23px;
}

.titulo {
    font: bold;
}
/**
*! 25 = top and bottom
*? 60 = left and right
**/

.cart {
    position: relative;
    background-color: white;
    color: #212529;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

/**
*! shop items styles are here
**/
.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px); /**? Cantidad de Columnas - ancho **/
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
/**! Medidas para hacer los cards responsive **/
@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}
@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 2px solid #212529;
    border-radius: 4px; /**? Redondea bordes **/
    background-color: white;
}

.item img {
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}


.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg {
    color: red;
}
.bi-plus-lg {
    color: green;
}

/**
*! styles for label and some buttons (cart.html)
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.details {
    background-color: #fff;
}

.HomeBtn,
 .checkout,
 .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout {
    background-color: green;
}

.removeAll {
    background-color: red;
}
.bi-x-lg {
    color: red;
    font-weight: bold;
}

/**
*! styles for shopping cart
**/

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

/**
*! styles for cart item
**/

.cart-item {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    margin-bottom: 25px;
}

.title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
}

.contactanos {
    background-color: #606c38;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.formulario {
    display: flex;
    background-color: #fefae0;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.send-btn {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}